<h2 class="text-2xl mt-6">
  ToggleButton
</h2>
<div class="mt-6">
  {{#each-in this.isSelected as |key val|}}
    <ToggleButton
      @isSelected={{val}}
      @onChange={{(fn this.onChange key)}}
      @intent={{key}}
    >
      Toggle
    </ToggleButton>
  {{/each-in}}
</div>

<div class="mt-6">
  {{#each-in this.isSelected as |key val|}}
    <ToggleButton
      @isSelected={{val}}
      @onChange={{(fn this.onChange key)}}
      @intent={{key}}
      disabled={{true}}
    >
      Toggle
    </ToggleButton>
  {{/each-in}}
</div>