<div class="prose dark:prose-light mt-8 overflow-x-scroll" ...attributes>
  <table class="text-sm">
    <thead>
      <tr>
        <th>
          Arg
        </th>
        <th>
          Type
        </th>
        <th>
          Description
        </th>
        <th>
          Required
        </th>
        <th>
          Default
        </th>
      </tr>
    </thead>

    <tbody>
      {{#each this.component.args as |arg|}}
        {{#unless arg.tags.ignore}}
          <tr>
            <td>
              <code class="hljs-light-theme code-transparent">
                <span class="hljs-name">
                  {{arg.name}}
                </span>
              </code>
            </td>
            <td>
              <code class="hljs-light-theme code-transparent">
                {{! template-lint-disable  }}
                {{{arg.highlightedType}}}
                {{! template-lint-enable }}
              </code>
            </td>
            <td>
              {{arg.description}}
            </td>
            <td>
              {{#if arg.isRequired}}
                Yes
              {{else}}
                -
              {{/if}}
            </td>
            <td>
              {{#if arg.highlightedDefaultValue}}
                <code class="hljs-light-theme code-transparent">
                  {{! template-lint-disable  }}
                  {{{arg.highlightedDefaultValue}}}
                  {{! template-lint-enable }}
                </code>
              {{else}}
                -
              {{/if}}
            </td>
          </tr>
        {{/unless}}
      {{/each}}
    </tbody>
  </table>
</div>